# macOS files ----
.DS_Store

# History files ----
.Rhistory
.Rapp.history

# Session Data files ----
.RData
.Ruserdata

# RStudio files ----
*.Rproj
.Rproj.user/

# R Environment Variables ----
.Renviron

# User-specific files ----
README.html
inst/doc
man/
NAMESPACE
.Rproj.user

# Ignorar la carpeta de librerías locales
renv/library/

# Pero NO ignorar estos archivos:
!renv/activate.R
!renv.lock

# tampoco ignorar la configuración del proyecto
!.Rprofile

